@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.app {
  text-align: center;
  background-color: #0C051B;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
  overflow: hidden;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 30px;
}

h2{
  font-family: 'Inter', sans-serif;
  font-size: 2.125vh;
  color: white;
}

.statsBtn{
  border: 0;
  position: absolute;
  right: 0;
  margin-right: 25px;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.game {
  width: 100vw;
  /* max-width: 700px; */
  margin: 0 auto;
  /* height: calc(100vh - 170px); */
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.board {
  width: 100%;
  max-width: 400px;
  height: 400px;
  margin-top: 90px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.gameRow {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 8px;
  gap: 10px;
}

.letter {
  flex: 33%;
  height: 100%;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: 300;
  color: white;
  font-family: 'Inter', sans-serif;
  background-color: #514768;
  box-shadow: 0px 4px 4px #7B6E98;
}

.correct {
  background: #46823C;
  box-shadow: 0px 4px 4px #89CA7F;
}

.almost {
  background: #A38109;
  box-shadow: 0px 4px 4px #D9BC51;  
}

.error {
  background: #201735;
  box-shadow: 0px 4px 4px #342E40;
  color: #797979;
}

.keyboard {
  background-color: #C8C4D6;
  width: 100%;
  /* height: 300px; */
  margin-top: auto;
  position: absolute;
  bottom: 0;
  padding: 40px 0;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  /* width: 50px;
  height: 70px; */
  /* margin: 5px; */
  /* border-radius: 4px; */
  display: grid;
  place-items: center;
  letter-spacing: 10px;
  text-indent: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  /* background-color: grey; */
  color: #0C051B;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.big {
  width: 100px;
  font-size: 22px;
  letter-spacing: 0;
}
.disabled {
  /* background-color: #3a393c; */
  color: #8B8B8B;
}

.modal-content{
  background-color: #0C051B;
  text-align: center;
  color: white;
  margin-top: 10vh;
  height: 100%;
  justify-content: center;
}

.modal-header, .modal-footer{
  justify-content: center;
  flex-direction: column;
}


.modal-body p{
  font-size: 1rem;
}

.modal-header p span{
  font-size: 1.5rem;
  font-weight: 600;
}

.modal-header .btn-close{
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
}

.flex-col{
  flex-direction: column;
}

.onOrientation{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
}

.chart {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  gap: .5em 0;
  align-items: center;
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
  grid-auto-columns: 1fr;
}

.chart .col{
  display: flex;
  gap: 10px;
  align-items: center;
}

.bar {
  background: #C8C4D6;
  color: #0C051B;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 25px;
  padding: 0rem 0.5rem;
  margin-bottom: 5px;
}

.bar span {
  font-weight: bold;
}

.alert{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7B6E98;
  bottom: 80%;
  opacity: 0;
  transition: all 1s;
}

.alert.active{
  opacity: 1;
  bottom: 82%;
  transition: all 1s;
}

@media (pointer:none), (pointer:coarse) {
  @media (orientation: portrait) {
    .onOrientation{
      display: none !important;
    }
  }
  
  @media (orientation: landscape) {
    .onOrientation{
      display: flex !important;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1400px) {
  .game {
    height: calc(100vh - 40px);
    padding-top: 0;
  }
  h2, .board{
    margin-top: 30px;
  }
}

@media only screen and (max-height: 1000px) {
  .board{
    margin-top: 30px;
    width: 350px;
    height: 350px;
  }
}


@media only screen and (max-width: 600px) {

  .game {
    height: calc(100vh - 60px);
    padding-top: 0;
  }
  nav h1{
    font-size: 25px;
  }

  h2{
    margin: 10px 20px 0px;
  }

  .line1, .line2, .line3{
    margin: 2px;
  }
  .keyboard {
    width: 100%;
    /* max-width: 700px; */
    /* height: 180px; */
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 41px 41px 0 0;
  }
  .board{
    margin-top: 30px;
    width: 280px;
    height: 280px;
  }
  .key {
    font-size: 18px;
    line-height: 40px;
    /* width: 30px;
    height: 50px; */
    /* margin: 4px 3px; */
  }
  .big{
    font-size: 14px;
    /* width: 40px; */
  }
}